mixin reviews(values)
	-
		var defaultValues = {
			'reviews':[],
		}; values = extend(defaultValues,values);

	section.section.reviews(class='count_'+values.reviews.length)
		if values.title
			h2.reviews-title!=values.title

		.reviews-list
			each review in values.reviews
				.reviews-list-item(itemscope, itemtype="http://schema.org/Review")
					.reviews-list-item-img
						img.reviews-list-item-img-photo(alt=review.author+", "+review.subtitle, src=review.image || '/img/author-blank.alt.png')
					.reviews-list-item-name(itemprop="author")= review.author
					.reviews-list-item-subtitle(itemprop="jobTitle")= review.subtitle
					.reviews-list-item-excerpt
						p.reviews-list-item-excerpt-text(itemprop="reviewBody")= review.body