header#masthead.header
	.header-innerwrap

		.header-logo
			img.header-logo-img(src='/img/logo.png', width=app.logo.width, height=app.logo.height, alt=app.name, title=app.name+' Logo')
		
		if page.header_text
			.header-text!=markdown.render(page.header_text).body

	.header-mobile_nav
