-
	var otherPests = pests.pop();

ul.manage-content-list.pests#pests
	h4.manage-content-list-title Pests
	
	each pest in pests
		- hasDisabledProp = typeof pest.disabled === 'undefined' ? false : pest.disabled;
		- disabled = hasDisabledProp ? 'disabled' : '';
		li.manage-content-list-item(id!=pest._id, data-slug!=pest.slug, class!=disabled)
			.manage-content-list-item-disable.disable_item
			.manage-content-list-item-toggle
			h6.manage-content-list-item-title!= pest.name
			.manage-content-list-item-content
				.manage-content-list-item-content-field.half.first
					label.manage-content-list-item-content-field-label Name
					input.manage-content-list-item-content-field-input.input.editable(type="text", name="name", value!=pest.name)
				.manage-content-list-item-content-field.half
					label.manage-content-list-item-content-field-label Slug
					input.manage-content-list-item-content-field-input.input.editable(type="text", name="slug", value!=pest.slug)
				.clearfix
				.manage-content-list-item-content-field
					label.manage-content-list-item-content-field-label Short Description
					input.manage-content-list-item-content-field-input.input.editable(type="text", name="subtitle", value!=pest.subtitle)
			
				//- ==== Intro Paragraphs =================================================================================
				.manage-content-list-item-content-field-container.editable_array(data-name="intro")
					label.manage-content-list-item-content-field-label Intro Paragraphs
					each paragraph in pest.intro
						.manage-content-list-item-content-field.contained_field
							.manage-content-list-item-content-field-remove.remove_item
							textarea.manage-content-list-item-content-field-input.input.textarea.editable_of_array(name="intro")=paragraph
					.manage-content-list-item-content-field-add_more.add_item
						.manage-content-list-item-content-field-add_more-text Add Paragraph
				
				//- ==== Facts =================================================================================
				.manage-content-list-item-content-field-container.editable_array.half.first(data-name="facts")
					label.manage-content-list-item-content-field-label Facts
					each fact in pest.facts
						.manage-content-list-item-content-field.contained_field
							.manage-content-list-item-content-field-remove.remove_item
							textarea.manage-content-list-item-content-field-input.input.textarea.editable_of_array.small(name="facts")=fact
					.manage-content-list-item-content-field-add_more.add_item
						.manage-content-list-item-content-field-add_more-text Add Fact
				
				//- ==== Signs =================================================================================
				.manage-content-list-item-content-field-container.editable_array.half(data-name="signs")
					label.manage-content-list-item-content-field-label Signs
					each sign in pest.signs
						.manage-content-list-item-content-field.contained_field
							.manage-content-list-item-content-field-remove.remove_item
							textarea.manage-content-list-item-content-field-input.input.textarea.editable_of_array.small(name="signs")=sign
					.manage-content-list-item-content-field-add_more.add_item
						.manage-content-list-item-content-field-add_more-text Add Sign

				div.clearfix
				
				//- ==== Preventions =================================================================================
				.manage-content-list-item-content-field-container.editable_array(data-name="prevention")
					label.manage-content-list-item-content-field-label Preventions
					each prevention in pest.prevention
						.manage-content-list-item-content-field.contained_field
							.manage-content-list-item-content-field-remove.remove_item
							textarea.manage-content-list-item-content-field-input.input.textarea.editable_of_array.small(name="preventions")=prevention
					.manage-content-list-item-content-field-add_more.add_item
						.manage-content-list-item-content-field-add_more-text Add Prevention

				
				.manage-content-list-item-content-button.save
					.manage-content-list-item-content-button-text Save Pest
				.manage-content-list-item-content-button.delete
					.manage-content-list-item-content-button-text Delete Pest
				.manage-content-list-item-content-status
				.clearfix

	.manage-content-list-button.add
		.manage-content-list-button-text Add Pest