mixin livechatFieldsetInput(name, label, classes, required, inputClasses)
  - if (required) classes = classes + ' required'
  .livechat-login-form-fieldset.fieldset.input_text(class=classes)
    label.livechat-login-form-fieldset-label(for=name)=label
    input.livechat-login-form-fieldset-input.input(id=name, name=name, type="text", placeholder=label, class=inputClasses)



mixin livechatFieldsetSelect(name, label, classes, required, items)
  - if (required) classes = classes + ' required'
  .livechat-login-form-fieldset.fieldset.select(class=classes)
    label.livechat-login-form-fieldset-label(for=name)=label
    select.livechat-login-form-fieldset-select.default_component.input(id=name, name=name)
      option(value='')=label
      -if (items)
        each item, index in items
          option(value=index)=item
    div.livechat-login-form-fieldset-select.new


mixin livechatFieldsetTextarea(name, label, classes, required, inputClasses)
  - if (required) classes = classes + ' required'
  .livechat-login-form-fieldset.fieldset.textarea(class=classes)
    label.livechat-login-form-fieldset-label(for=name)=label
    textarea.livechat-login-form-fieldset-textarea.input(id=name, name=name, placeholder=label)


mixin livechatFieldsetCheckboxSingle(name, label, classes, required)
  - if (required) classes = classes + ' required'
  .livechat-login-form-fieldset.fieldset.checkbox(class=classes)
    .livechat-login-form-fieldset.fieldset-checkbox.input-button
      div.livechat-login-form-fieldset-checkbox-box
      label.livechat-login-form-fieldset-checkbox-label(for=name)=label
      input.input.checkbox(id=name, name=name type='checkbox')


mixin livechatFieldsetCheckbox(name, label, classes, required, items)
  - if (required) classes = classes + ' required'
  - classes = classes + ' options_' + items.length

  .livechat-login-form-fieldset.fieldset.checkbox(class=classes)
    .livechat-login-form-fieldset-label=label
    each item, index in items
      - id = name + '_' + index
      .livechat-login-form-fieldset-checkbox.input-button
        div.livechat-login-form-fieldset-checkbox-box
        label.livechat-login-form-fieldset-checkbox-label(for=id)=item
        input.input.checkbox(id=id, name=name, type='checkbox', val=item)


mixin livechatFieldsetRadio(name, label, classes, required, items)
  - if (required) classes = classes + ' required'
  - classes = classes + ' options_' + items.length

  .livechat-login-form-fieldset.fieldset.radio(class=classes)
    .livechat-login-form-fieldset-label=label
    each item, index in items
      - id = name + '_' + index
      .livechat-login-form-fieldset-radio.input-button
        div.livechat-login-form-fieldset-radio-box
        label.livechat-login-form-fieldset-radio-label(for=id)=item
        input.input.radio(id=id, name=name, type='radio', val=item)


mixin livechatFieldsetRadioSpecial(name, label, classes, required, items)
  - if (required) classes = classes + ' required'
  - classes = classes + ' options_3'

  .livechat-login-form-fieldset.fieldset.radio.radio_special(class=classes)
    .livechat-login-form-fieldset-label=label
    each item, index in items
      - id = name + '_' + index
      .livechat-login-form-fieldset-radio.input-button
        div.livechat-login-form-fieldset-radio-box
        label.livechat-login-form-fieldset-radio-label(for=id)=item
          .livechat-login-form-fieldset-radio-label-sub=index
        input.input.radio(id=id, name=name, type='radio', val=item)


mixin livechatFieldsetRange(name, label, classes, required)
  //- - if (required) classes = classes + ' required'
  .livechat-login-form-fieldset.fieldset.range.required(class=classes)
    .livechat-login-form-fieldset-label=label
    .livechat-login-form-fieldset-range(class=classes)
      .livechat-login-form-fieldset-range-start
      .livechat-login-form-fieldset-range-end
    input.livechat-login-form-fieldset-input.input(id=name, name=name, type="hidden")



mixin livechatFieldsetFile(name, label, classes, required, inputClasses)
  - if (required) classes = classes + ' required'
  .livechat-login-form-fieldset.fieldset.file(class=classes)
    label.livechat-login-form-fieldset-label(for=name)=label
    .livechat-login-form-fieldset-file_wrap
      input.livechat-login-form-fieldset-file.input(id=name, name=name, type="file", class=inputClasses, accept='.pdf, .doc, .png, .tiff, .jpg, .rtf, .rtfd, .pages, .xls, .csv', multiple='')

