mixin emailFieldsetInput(name, label, classes, required, inputClasses)
  - if (required) classes = classes + ' required'
  .email_support-options-item-form-fieldset.fieldset.input_text(class=classes)
    label.email_support-options-item-form-fieldset-label(for=name)=label
    input.email_support-options-item-form-fieldset-input.input(id=name, name=name, type="text", placeholder=label, class=inputClasses)



mixin emailFieldsetSelect(name, label, classes, required, items)
  - if (required) classes = classes + ' required'
  .email_support-options-item-form-fieldset.fieldset.select(class=classes)
    label.email_support-options-item-form-fieldset-label(for=name)=label
    select.email_support-options-item-form-fieldset-select.default_component.input(id=name, name=name)
      option(value='')=label
      -if (items)
        each item, index in items
          option(value=index)=item
    div.email_support-options-item-form-fieldset-select.new


mixin emailFieldsetTextarea(name, label, classes, required, inputClasses)
  - if (required) classes = classes + ' required'
  .email_support-options-item-form-fieldset.fieldset.textarea(class=classes)
    label.email_support-options-item-form-fieldset-label(for=name)=label
    textarea.email_support-options-item-form-fieldset-textarea.input(id=name, name=name, placeholder=label)


mixin emailFieldsetCheckboxSingle(name, label, classes, required)
  - if (required) classes = classes + ' required'
  .email_support-options-item-form-fieldset.fieldset.checkbox(class=classes)
    .email_support-options-item-form-fieldset.fieldset-checkbox.input-button
      div.email_support-options-item-form-fieldset-checkbox-box
      label.email_support-options-item-form-fieldset-checkbox-label(for=name)=label
      input.input.checkbox(id=name, name=name type='checkbox')


mixin emailFieldsetCheckbox(name, label, classes, required, items)
  - if (required) classes = classes + ' required'
  - classes = classes + ' options_' + items.length

  .email_support-options-item-form-fieldset.fieldset.checkbox(class=classes)
    .email_support-options-item-form-fieldset-label=label
    each item, index in items
      - id = name + '_' + index
      .email_support-options-item-form-fieldset-checkbox.input-button
        div.email_support-options-item-form-fieldset-checkbox-box
        label.email_support-options-item-form-fieldset-checkbox-label(for=id)=item
        input.input.checkbox(id=id, name=name, type='checkbox', val=item)


mixin emailFieldsetRadio(name, label, classes, required, items)
  - if (required) classes = classes + ' required'
  - classes = classes + ' options_' + items.length

  .email_support-options-item-form-fieldset.fieldset.radio(class=classes)
    .email_support-options-item-form-fieldset-label=label
    each item, index in items
      - id = name + '_' + index
      .email_support-options-item-form-fieldset-radio.input-button
        div.email_support-options-item-form-fieldset-radio-box
        label.email_support-options-item-form-fieldset-radio-label(for=id)=item
        input.input.radio(id=id, name=name, type='radio', val=item)


mixin emailFieldsetRadioSpecial(name, label, classes, required, items)
  - if (required) classes = classes + ' required'
  - classes = classes + ' options_3'

  .email_support-options-item-form-fieldset.fieldset.radio.radio_special(class=classes)
    .email_support-options-item-form-fieldset-label=label
    each item, index in items
      - id = name + '_' + index
      .email_support-options-item-form-fieldset-radio.input-button
        div.email_support-options-item-form-fieldset-radio-box
        label.email_support-options-item-form-fieldset-radio-label(for=id)=item
          .email_support-options-item-form-fieldset-radio-label-sub=index
        input.input.radio(id=id, name=name, type='radio', val=item)


mixin emailFieldsetRange(name, label, classes, required)
  //- - if (required) classes = classes + ' required'
  .email_support-options-item-form-fieldset.fieldset.range.required(class=classes)
    .email_support-options-item-form-fieldset-label=label
    .email_support-options-item-form-fieldset-range(class=classes)
      .email_support-options-item-form-fieldset-range-start
      .email_support-options-item-form-fieldset-range-end
    input.email_support-options-item-form-fieldset-input.input(id=name, name=name, type="hidden")



mixin emailFieldsetFile(name, label, classes, required, inputClasses)
  - if (required) classes = classes + ' required'
  .email_support-options-item-form-fieldset.fieldset.file(class=classes)
    label.email_support-options-item-form-fieldset-label(for=name)=label
    .email_support-options-item-form-fieldset-file_wrap
      input.email_support-options-item-form-fieldset-file.input(id=name, name=name, type="file", class=inputClasses, accept='.pdf, .doc, .png, .tiff, .jpg, .rtf, .rtfd, .pages, .xls, .csv', multiple='')

